/* Navbar Section Starts */
.container{
    width: 1440px;
    margin: 0 auto;
}
header{
    padding: 32px 40px;
    overflow: auto;
}
.logo{
    float: left;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 45px;

}
.logo span{
    color: #4E42D9;
}
.nav-list-container{
    float: right;
}
.nav-list-items{
    margin: 0;
    padding: 0;

}
.nav-list-items li{
    list-style-type: none;
    float: left;
    padding: 13px 48px 13px 0;
}
.nav-list-items li a{
    text-decoration: none;
    color: #797979;
}

.nav-list-items li .active{
    color: #4E42D9 ;
}
.nav-list-items .nav-list-btn{
    padding: 16px 30px;
    padding-left: 30px;
    background-color: #4E42D9;
    border-radius: 4px;

}
.nav-list-items .nav-list-btn a{
    color: white;
}

/* Navbar Section Ends */

/* Hero Section Starts */
#hero-section{
    width: 1200px;
    height: 584px;
    margin: 0 auto;
}

.hero-info-container{
    float: left;
    width: 500px;
    height: 467px;
    margin: 48px 0;
}
.hero-info-heading{
    font-size: 36px;
    line-height: 130%;
    font-weight: 700;
}
.hero-info p{
    color: #797979;
    line-height: 150%;
    width: 454px;
}
.hero-image-container{
    width: 578px;
    float: right;
}
.hero-btns{
    margin: 48px 0;
}
.hero-btns a{
    text-decoration: none;
}
.explore-project-btn,.about-us-btn{
    padding: 16px 30px;
    background: #4E42D9;
    border-radius: 4px;
    color: white;
    margin-right: 12px;
}
.hero-btns .about-us-btn{
    background: rgba(78, 66, 217, 0.18);
    color: #4E42D9;
}


/* Hero Section Ends */

.clearfix{
    clear: both;
}

/* Service Section Starts */
#service-section{
    width: 1200px;
    height: 312px;
    margin: 0 auto;
}
.service-heading{
    font-weight: 600;
    font-size: 32px;
    line-height: 177.9%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #3B3950;

}
.works{
    width: 1205px;
    height: 313px;
}
.work{
    float: left;
    width: 285px;
    height: 216px;
}
.work-image{
    text-align: center;
    position: relative;
}
.inner-work-image{
    position: absolute;
    left: 42%;
    top: 25%;
}
.work h1{
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    color: #3B3950;
}
.work p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #797979;
}
/* Service Section Ends */

/* Blog Section Starts */
#blog-section{
    width: 1440px;
    height: 887px;
    margin: 0 auto;
    background: #F8F8F8;
}
.blog-info{
    width: 559px;
    height: 101px;
    margin: 0 auto;
    text-align: center;
    padding-top: 72px;
}
.blog-info h1{
    color:#3B3950;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
}
.blog-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #797979;
}
.blog-cards{
    width: 1200px;
    height: 479px;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 72px;
}
.blog-card{
    width: 386.67px;
    height: 478px;
    float: left;
    margin-right: 18px;

}
.blog-card:last-child{
    margin-right: 0;
}
.blog-image{
    width: 386.67px;
    height: 281px;
}
.blog-image img{
    width: 100%;
    height: 100%;
}
.date{
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #797979;
}
.blog-card h1{
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #3B3950;
}
.blog-card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;  
    letter-spacing: 0.01em;
    color: #797979;
}
.button-div{
    margin: 0 auto;
    margin-top: 80px;
    display: block;
    text-align: center;
}
.view-btn{
    width: 65px;
    height: 18px;
    padding: 16px 30px;
    background-color: #4E42D9;
    border-radius: 4px;
    font-size: 16px;
    color: white;
   
}
/* Blog Section Ends */