/* Navbar Section Starts */
.container{
    width: 1440px;
    margin: 0 auto;
}
header{
    padding: 32px 40px;
    overflow: auto;
}
.logo{
    float: left;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 45px;

}
.logo span{
    color: #4E42D9;
}
.nav-list-container{
    float: right;
}
.nav-list-items{
    margin: 0;
    padding: 0;

}
.nav-list-items li{
    list-style-type: none;
    float: left;
    padding: 13px 48px 13px 0;
}
.nav-list-items li a{
    text-decoration: none;
    color: #797979;
}

.nav-list-items li .active{
    color: #4E42D9 ;
}
.nav-list-items .nav-list-btn{
    padding: 16px 30px;
    padding-left: 30px;
    background-color: #4E42D9;
    border-radius: 4px;

}
.nav-list-items .nav-list-btn a{
    color: white;
}

/* Navbar Section Ends */

/* Hero Section Starts */
#hero-section{
    width: 1200px;
    height: 584px;
    margin: 0 auto;
}

.hero-info-container{
    float: left;
    width: 500px;
    height: 467px;
    margin: 48px 0;
}
.hero-info-heading{
    font-size: 36px;
    line-height: 130%;
    font-weight: 700;
}
.hero-info p{
    color: #797979;
    line-height: 150%;
    width: 454px;
}
.hero-image-container{
    width: 578px;
    float: right;
}
.hero-btns{
    margin: 48px 0;
}
.hero-btns a{
    text-decoration: none;
}
.explore-project-btn,.about-us-btn{
    padding: 16px 30px;
    background: #4E42D9;
    border-radius: 4px;
    color: white;
    margin-right: 12px;
}
.hero-btns .about-us-btn{
    background: rgba(78, 66, 217, 0.18);
    color: #4E42D9;
}


/* Hero Section Ends */