/* header{
    margin: auto;
} */

header{
    width: 1160.58px;
    margin: 0 auto;
    height: auto;
    padding-top: 47px;
}
.header__logo{
    float: left;
    margin-right: 185.17px;
}
.header__nav{
    float: right;
}

.header__nav ul{
    margin: 0;
    padding: 0;

}
.header__nav--list{
    list-style-type: none;
    float: left;
    padding: 9px 0;
}
.destination{
    padding-right: 55px;
}
.hotel{
    padding-right: 64px;
}
.flight{
    padding-right: 62px;
}
.booking{
    padding-right: 86px;
}
.login{
    padding-right: 52px;
}
.signup{
    padding-right: 42px;   
    
}
.signup a{
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 9px 21px;
}
.header__nav--list a, .header__nav--list select{
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #212832;
}

.header__nav--list select{
    border: none;
    outline: none;
    background: none;
}

.clearfix{
    clear:both;
}

/* Hero Section */

#hero .row{
    margin: 0 auto;
    width: 1160.58px;
}

.col-6{
    width: 50%;
} 
#hero .col-6--left{
    padding-bottom: 73px;
    
}

.hero--pg{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
    margin-top: 98px;
    margin-bottom: 24px;
}
.hero--heading{
    height: 267px;
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #181E4B;
}
.hero--pg1{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
    padding-top: 30px;
    padding-bottom:34px;

}
.hero__cta__container{
    width: 379px;


}
.hero--info a{
    text-decoration: none;
    padding: 19px 26px 18px 27px;
    color: white;
    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
}
.hero--demo p{
    color: #686D77;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
}
.hero__image__container{
    width: 52px;
    height: 52px;
}
.hero--info{
    margin-right: 44px;
    padding-top: 14px;
}

.hero__image{
    width: 600px;
}
.hero__image--play{
    width: 52px;
    height:52px;
}
.background--image{
    position: absolute;
    top: 0;
    right: 0;
    width: 640px;
    z-index: -1;
    height: 720px;
    overflow: hidden;
}

/* Service Section */
#service{
    width: 1160.58px;
    height: 525px;
    margin: 0 auto;
}
.service-category{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5E6282;

}
.service--heading2{
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
    padding-bottom: 68px;
}
.service__box{
    width: calc(100%/4);
    float: left;
    padding-left: 80px;
    padding-bottom: 78px;
}
.service__box--inner{
    box-shadow: 0 3px 13px rgb(0 0 0 / 20%);

}

.service__img--container{
    width: 92px;
    height: 78px;
    margin: 0 auto;
    padding-bottom: 110px;
}
.service__img{
    width: 100%;
    height: auto;
}
.service--heading4{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #1E1D4C;
}
.service--info{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5E6282;

}

#destinations{
    margin: 0 auto;
    width: 1160.58px;
}
.destination__box__container{
    margin: 0 auto;
    width: 1102px;
    height: 420px;
}
.destinations__box{
    margin: 0 auto;
    width: 95%;
    height: 420px;
}

.destination__one, .destination__two, .destination__three{
    width: 314px;
    float: left;
    height: 420px;
    box-shadow: 0px 20px 35px rgb(40 39 37 / 15%);
    margin-right: 51px;
}
.destination__three {
    margin-right: 0;
}

.destination__img__container , 
.destination__img__container ,
.destination__img__container {
    width: 100%;
    height: 327px;
}

.destination__one .destination__img__container img, 
.destination__two .destination__img__container img,
.destination__three .destination__img__container img{
    width: 100%;
    height: 100%;
    
}

.destination__image__info{
    height: 90px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}
.destination__info__first{
    padding: 28px 55px 19px 20px;
}
.destination__info__second{
    padding: 10px 25px 19px 20px;
    width: 165px;
    font-size: 16px;
}

/* Bookings Section */
#bookings{
    width: 1060px;
    margin: 90px auto;
}
.bookings__inner{
    width: 100%;
}
.bookings__inner .para{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
}

.bookings__heading1{
    margin-top: 33px;
    margin-bottom: 32px;
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183E;
}

.bookings__info{
    width: 395px;
    height: 250px;
}
.bookings__destination__info{
    width: 327px;
    height: 40px;
}

.bookings__destination__h4{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
}
.bookings__destination__info p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
}
.bookings__destination__image{
    padding-top: 4px;
    padding-bottom: 12px;
}
.bookings__payment{
    margin-top: 30px;
    margin-bottom: 29px;
}
.bookings__col__left{
}
.bookings__col__right{
    height: 459px;
    padding-top: 59px;
    padding-right: 115px;
}
.bookings__cards{
    padding: 20px 24px 26px 25px;
    width: 370px;
    height: 400px;

}
.bookings__cards__p{
    margin-top: 26px;
    margin-bottom: 13px;
}
.bookings__date__author{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.005em;
    color: #84829A;
    margin-top: 13px;
    margin-bottom: 21px;
}
.bookings__interest__count img{
    padding-right: 15px;
}
.bookings__interest__count span{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.02em;
    color: #84829A;

}
.bookings__imgs{
    margin-bottom: 29px;
}
