body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Volkhov', serif;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.pt-10{
    padding-top: 10px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
ul li a {
    text-decoration: none;
}

.mr-7{
    margin-right: 7px;
}