#ham-container{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    display: none;
}
#cross-icon{
    width: 24px;
    height: 24px;
    float: right;
    margin-top: 26px;
    margin-right: 40.5px;
}
.cross-icon img{
    width: 100%;
    height: 100%;
}
.navbar{
    width: 126px;
    margin: 294px auto;
    height: 350px;
    text-align: center;

}


/* Navbar Section Starts */
.container{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    padding: 32px 40px;
    overflow: auto;
}
.logo{
    float: left;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 45px;

}
.logo span{
    color: #4E42D9;
}
.hamburger-wrapper{
    width: 24px;
    height: 24px;
    float: right;
    display: none;
}
.hamburger-wrapper img{
    width: 100%;
    height: auto;
}
.nav-list-container{
    float: right;
}
/* Navbar Section Ends */

/* Hero Section Starts */
#hero-section{
    width: 1200px;
    height: 584px;
    margin: 0 auto;
}

.hero-info-container{
    float: left;
    width: 500px;
    height: 467px;
    margin: 48px 0;
}
.hero-info-heading{
    font-size: 36px;
    line-height: 130%;
    font-weight: 700;
}
.hero-info p{
    color: #797979;
    width: 454px;
}
.hero-image-container{
    width: 578px;
    float: right;
}
.hero-btns{
    margin: 48px 0;
}
.hero-btns a{
    text-decoration: none;
}
.explore-project-btn{
    margin-right: 12px;
}
.about-us-btn{
    background: rgba(78, 66, 217, 0.18);
    color: #4E42D9;
}



/* Hero Section Ends */

.clearfix{
    clear: both;
}

/* Service Section Starts */
#service-section{
    max-width: 1440px;
    height: 312px;
    margin: 0 auto;
}
.service-heading{
    font-weight: 600;
    font-size: 32px;
    line-height: 177.9%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #3B3950;
}
.works-wrapper{
    width: auto;
    margin: 0 auto;
}
.works{
    width: 1205px;
    height: 313px;
}
.work{
    float: left;
    width: 285px;
    height: 216px;
}
.work-image{
    text-align: center;
    position: relative;
}
.inner-work-image{
    position: absolute;
    left: 42%;
    top: 25%;
}
.work h1{
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    color: #3B3950;
}
.work p{
    text-align: center;
    letter-spacing: 0.01em;
    color: #797979;
}
/* Service Section Ends */

/* Blog Section Starts */
#blog-section{
    max-width: 1440px;
    height: 887px;
    margin: 0 auto;
    background: #F8F8F8;
}
.blog-info{
    width: 559px;
    height: 101px;
    margin: 0 auto;
    text-align: center;
    padding-top: 72px;
}
.blog-info h1{
    color:#3B3950;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
}
.blog-info p{
    color: #797979;
}
.blog-cards{
    width: 1200px;
    height: 479px;
    margin: 0 auto;
    margin-top: 72px;
}
.blog-card{
    width: 386.67px;
    height: 478px;
    float: left;
    margin-right: 18px;

}
.blog-card:last-child{
    margin-right: 0;
}
.blog-image{
    width: 386.67px;
    height: 281px;

}
.blog-image img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.date{
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #797979;
}
.blog-card h1{
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #3B3950;
}
.blog-card p{
    letter-spacing: 0.01em;
    color: #797979;
}
.button-div{
    text-align: center;
}

/* Blog Section Ends */

/* Footer Section Begins */
footer{
    max-width: 1440px;
    height: 398px;
    margin: 0 auto;
    background: #292838;
}
.footer{
    padding: 72px 189px 72px 105px;
    height: 342px;

}

.footer-info{
    width: 398px;
    height: 129px;
    float: left;
}
.footer-info h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;

}
.footer-info p{
    color: rgba(255, 255, 255, 0.8);
}
.footer-links{
    float: right;
    height: 198px;
}
.about-us,.customers,.support{
    float: left;
    margin-right: 89px;
}
.support{
    margin-right: 0;
}

.about-us ul li, .customers ul li, .support ul li{
    list-style-type: none;
}
.about-us ul li a, .customers ul li a, .support ul li a{
    text-decoration: none;
    color: white;
}
.about-us ul li:first-child,.customers ul li:first-child,.support ul li:first-child{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 110%;
}
.copyright{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    background: #23222F;
    color: rgba(255, 255, 255, 0.8);
    padding: 19px 17px;
}
/* Footer Section Ends */


/* Phone View */
@media only screen and (max-width:576px){
    .container{
        width: 428px;
        margin: 0 auto;
    }
    header{
        padding: 20px 40px;
    }
    .logo{
        font-size: 24px;
        line-height: 36px;
    }
    .nav-list-container{
        display: none;
    }
    .hamburger-wrapper{
        display: block;
    }
    
    /* Hero Section */
    #hero-section{
        width: 428px;
        height: 986px;
        margin: 0 auto;
    }
    .hero-info-container{
        float: none;
        width: 388px;
        height: 491px;
    }
    .hero-info{
        width: 388px;
        height: 393px;
    }
    .hero-info-heading{
        height: 141px;
        width: 388px;
        font-size: 36px;
        line-height: 130%;
        font-weight: 700;
    }
    .hero-info p{
        width: 388px;
    }
    .hero-btns{
        width: 334px;
        margin-bottom: 0;
    }
    .hero-image-container{
        width: 388px;
        height: 347px;
        float: none;
    }
    .hero-image-container img{
        width: 100%;
        height: 100%;
    }

    /* Service Section */
    #service-section{
        width: 427px;
        height: 1153px;
    }
    .service-heading{
        padding-bottom: 72px
    }
    .works{
        width: 427px;
        height: 924px;
    }
    .work{
        float: none;
        display: block;
        width: 427px;
        height: 216px;
    }
    .inner-work-image{
        position: absolute;
        left: 45%;
        top: 25%;
    }

    /* Blog Section */
    #blog-section{
        width: 429px;
        height: 1883px;
        padding: 50px 20px;
    }
    .blog-info{
        width: 389px;
        height: 101px;
        padding-top: 0;
    }
    .blog-cards{
        width: 386.67px;
        height: 1488px;
    }
    .blog-card{
        float: none;
        margin-right: 0;
    }
    .button-div{
        margin-top: 0;
    }

    /* Footer */
    footer{
        width: 427px;
        height: 743px;
    }
    .footer{
        width: 427px;
        height: 687px;
        padding: 50px 20px 0 20px;
    }
    .footer-info{
        float: none;
        width: 387px;
    }
    
    .footer-links{
        float: none;
        width: 387px;
        height: 410px;
        margin-top: 48px;
    }
    .support{
        margin-top: 60px;   

    }
    .copyright{
        width: 427px;
        height: 56px;
        padding: 18px 107px;
        font-size: 14px;
        color: white;
    }

}
/* Phone View Ends */

@media only screen and (min-width:576px){
    .hamburger-wrapper{
        display: none !important;
    }
}