header{
    max-width: 1920px;
    height: 1030px;
    margin: 0 auto;
    padding: 60px 126px 0 100px ;
    display: flex;
    flex-direction: column;
}
/* Nav */
.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar__logo{
    width: 79px;
    height: 79px;
}
.header__navbar__logo img{
    width: 100%;
    height: 100%;
}

.nav--lists{
    display: flex;
}

/* Hero */
.header__hero{
    padding: 0px 42px 0 40px;
    display: flex;
}
.hero__img__container{
    width: 544px;
    height: 892px;
}
.hero__img__container img{
    width: 100%;
    height: 100%;
}

.header__hero__cta{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero__img__left__container{
    width: 80px;
    height: 80px;
}
.hero__img__left__container img{
    width: 100%;
    height: 100%;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF2E1;
    max-width: 1920px;
    height: 1030px;
    z-index: -1;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;

}
#brands{
    max-width: 1920px;
    margin: 100px auto;

}
.brands__logo{
    max-width: 1337.09px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#service,#skilline{
    max-width: 1920px;
    margin: 100px auto;
}
.service__inner{
    max-width: 1470px;
    height: 761px;
    margin: 0 auto;
}
.service__cards{
    display: flex;
}

.service__cards .card{
    width: 450px;
    height: 450px;
    margin-right: 60px;
    padding: 122px 53px 50px 55px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
    border-radius: 20px;
}
.service__cards .card:last-child{
    margin-right: 0;
}
.service__card__img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 35%;
    margin-top: -42px;
}
.service__card__img img{
    width: 100%;
    height: 100%;
}
.service__card1,.service__card2,.service__card3{
    position: relative;
}

.skilline__inner{
    max-width: 1300px;
    height: 708px;
    margin: 0 auto;
}
.skilline__cards{
    display: flex;
}
.skilline__cards .card{
    width: 600px;
    height: 400px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.skilline__card1{
    background-color: rgba(23, 27, 65, 0.5);
    background-image: url("../images/skilline-img1.png");
    opacity: 0.6;
    border: 1px solid #000000;
    border-radius: 20px; 
}
.skilline__card2{
    background-color: rgba(23, 27, 65, 0.5);
    background-image: url("../images/skilline-img2.png");
    opacity: 0.6;
    border: 1px solid #000000;
    border-radius: 20px; 
}
#with-skilline{
    width: 1547px;
    height: 512px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
}
#features{
    max-width: 1580px;
    margin: 0 auto;
}
.features__one{
    max-width: 1580px;
    height: 650px;
    display: flex;
    justify-content: space-around;
}
.features__one__images{
    position: relative;
    background-image: url("../images/features-bg.png");
    width: 783px;
    height: 483px;
    padding: 92px 147px 52px 42px;
    display: flex;
}
.features__one__info{
    width: 542px;
}
.features__info__one,
.features__info__two,
.features__info__three{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin-top: 51px;
    margin-bottom: 40px;
}
.features__right__img1{
    width: 27px;
    height: 26px;
}
.features__right__para{
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    font-size: 20px;
}

/* Call to Action Buttons */
.features__cta{
    display: flex;
}
.present--btn{
    padding: 10px 36px;
    color: white;
    background: #3465E1;
    box-shadow: 0px 8.51126px 20.427px rgba(52, 101, 225, 0.3);
    border-radius: 51.0676px;
    margin-right: 25px;
}
.features__call{
    background: #E13468;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 36px;
    box-shadow: 0px 8.51126px 20.427px rgba(52, 101, 225, 0.3);
    border-radius: 51.0676px
}
.call-btn{
    color: white;
    padding-left: 10px;
}

.images__absolute{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2%;
    left: 70%;
}

/* Features Two */
.features__two,.features__three,.features__four,.features__five{
    display: flex;
    width: 1441.2px;
    height: 611px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.features__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#integrations{
    display: flex;
    width: 1457px;
    height: 459px;
    margin: 160px auto;
    justify-content: space-around;
    align-items: center;
}
.integrations__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    align-items: flex-end;
}