body{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.nav--list a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #252641;
}

.nav--list{
    margin-right: 80px;
}

.nav--list:last-child{
    margin-right: 0;
}

.nav--login{
    padding: 13px 49px 14px 50px;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.03);
    border-radius: 80px;
    
}

.nav--signup{
    padding: 13px 36px 14px 37px;
    background: #F48C06;
    border-radius: 80px;
}

.login--btn{
    margin-right: 34px;
}

.login--btn a{
    font-weight: 500;
    color: #6C6C6C;
}

.signup--btn{
    margin-right: 0;
}

.signup--btn a{
    font-weight: 500;
    color: #FFFFFF;
}

.hero__heading1{
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 39px;
    line-height: 63px;
    color: #2F327D;
    margin-top: 180px;
}
.hero__heading1 span,.with-skilline__heading1 span{
    color: #F48C06;
}
.hero__paragraph{
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    color: #464646;
    margin: 34px 0;
}

.header__hero__cta a{
    color: white;
    padding: 22px 34px;
    background: #F48C06;
    border-radius: 80px;
}
.header__hero__cta span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #252641;
}

#brands p{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #696984;
    text-align: center;
    margin-bottom: 20px;
}

.heading1{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 36px;
    line-height: 180%;
    color: #2F327D;
    text-align: center;
}
.heading1 span,.skilline__inner__heading1 span{
    color: #F48C06;
}
.paragraph{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    text-align: center;
    color: #696984;
    margin-bottom: 160px;
}
.service__heading4{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #2F327D;
    margin-bottom: 24px;
}
.service__paragraph1{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    color: #696984;

}
.skilline__inner__heading1{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 36px;
    line-height: 180%;
    color: #2F327D;
    text-align: center;
}
.skilline__card__heading1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}
.skilline__para{
    margin-bottom: 113px;
}
.skilline__card__btn1,.skilline__card__btn2{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    padding: 24px 38px 23px 37px;
    border: 1px solid #FFFFFF;
    border-radius: 80px;
}
.skilline__card__btn2{
    background: rgba(35, 189, 238, 0.9);
}
.with-skilline__heading1{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    color: #2F327D;
    margin-top: 64px;
    margin-bottom: 30px;
}
.with-skilline__para{
    text-align: left;
    margin-bottom: 30px;
}
.with-skilline__link{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    text-decoration-line: underline;
    color: #696984;
}

.features__para{
    margin-bottom: 100px;
}
.features__heading1{
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    text-align: left;
    margin-top: 115px;
}
.h1{
    width: 393px;
}
.p{
    width: 568px;
    font-size: 22px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0;

}

.more--features--btn,.integrations--btn{
    padding: 19px 38px 18px 38px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #F48C06;
    border: 1px solid #F48C06;
    border-radius: 80px;
}
.integrations__heading1{
    width: 480px;
    font-family: 'Nunito Sans';
    text-align: left;
}
.integrations__para{
    font-family: 'Nunito Sans';
    text-align: left;
    margin-bottom: 44px;
    width: 687px;
}
.integrations__right__img span{
    color: #525596;
    padding-left: 30px;
}