*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container{
    position: relative;
    margin:100px auto;
    width:700px;
    height: 467px;
    border: 5px solid black;
    overflow: hidden;
}
.carousel-image-container{
    position: absolute;
    display: flex;
    width: 100%;
    height: 467px;
}
.carousel-image{
    opacity: 0.8;
}

.arrow{
    position: absolute;
    top: 45%;
    padding: 10px 10px 15px 10px;
    background: white;
    color: black;
    font-size: 20px;
    border-radius: 50%;
}
.arrow:hover,
.arrow:focus{
    background: rgb(34, 32, 32);
    color: white;
}

.prev{
    left: 5%;
}
.next{
    right: 5%;
}
.active{
    background: rgba(52,250,3,0.2)!important;
}