header{
    margin: 0 auto;
    width: 1440px;
    overflow: hidden;
    background: #F8F9FA;
}
.inner-header{
    width: 1110px;
    height: 48px;
    margin: 18px auto;
}
.left-header{
    float: left;

}
.logo{
    float: left;
    font-size: 20px;
    line-height: 24.2px;
    font-weight: 800;
    margin: 11px 60px 13px 14px;
    color: #000000;
}
nav{
    float: right;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    float: left;
    list-style-type: none;
    margin: 16px 0;
}
ul li:last-child a{
    margin-right: 0px;
}
ul li a{
    color: #6C757D;
    text-decoration: none;
    margin-right: 19px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

}
.right-header{
    float: right;
}
.input-search{
    padding: 12px 102px 12px 15px;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    color: #ABB5BE;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin: 6px 4px;
}
.search-btn{
    padding: 11px 16px 12px 18px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
    border: 1px solid #28A745;
    border-radius: 4px;
    color: #28A745;
    margin: 6px 4px 5px 4px;
}

/* Navbar Section Ends */

/* Color Section Starts */
#color-section{
    max-width: 1440px;
    margin: 0 auto;
}
.color-section-heading{
    margin: 32px 0;
    width: 104px;
    height: 48px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #152536;
}
.color-section-h4{
    margin-top: 54px;
    color: #152536;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}
.color-box-wrapper{
    margin-top: 27px;
}
.primary,.primary-dark,.primary-light{
    width: 166px;
    height: 123px;
    float: left;
    margin-right: 24px;
}

.box{
    width: 166px;
    height: 72px;
    border-radius: 4px;
}
.color-box-primary{
    background: #7749F8;
}
.color-box-dark{
    background: #5227CC;
}
.color-box-light{
    background: #EBE5FC;
}
.primary p,.primary-dark p, .primary-light p{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    color: #343A40;
    margin: 13px 0 4px 0;
}
.primary span,.primary-dark span, .primary-light span{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #6B7176;
}