header{
    margin: 0 auto;
    width: 1440px;
    overflow: hidden;
    background: #F8F9FA;
}
.inner-header{
    width: 1110px;
    height: 48px;
    margin: 18px auto;
}
.left-header{
    float: left;

}
.logo{
    float: left;
    font-size: 20px;
    line-height: 24.2px;
    font-weight: 800;
    margin: 11px 60px 13px 14px;
    color: #000000;
}
nav{
    float: right;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    float: left;
    list-style-type: none;
    margin: 16px 0;
}
ul li:last-child a{
    margin-right: 0px;
}
ul li a{
    color: #6C757D;
    text-decoration: none;
    margin-right: 19px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

}
.right-header{
    float: right;
}
.input-search{
    padding: 12px 102px 12px 15px;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    color: #ABB5BE;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin: 6px 4px;
}
.search-btn{
    padding: 11px 16px 12px 18px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
    border: 1px solid #28A745;
    border-radius: 4px;
    color: #28A745;
    margin: 6px 4px 5px 4px;
}

/* Navbar Section Ends */

/* Color Section Starts */
#color-section{
    max-width: 1440px;
    margin: 0 auto;
}
.color-section-heading{
    margin: 32px 0;
    width: 104px;
    height: 48px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #152536;
}
.color-section-h4{
    margin-top: 54px;
    color: #152536;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}
.color-box-wrapper{
    margin-top: 27px;
}
.primary,.primary-dark,.primary-light{
    width: 166px;
    height: 123px;
    float: left;
    margin-right: 24px;
}

.box{
    width: 166px;
    height: 72px;
    border-radius: 4px;
}
.color-box-primary{
    background: #7749F8;
}
.color-box-dark{
    background: #5227CC;
}
.color-box-light{
    background: #EBE5FC;
}
.primary p,.primary-dark p, .primary-light p{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    color: #343A40;
    margin: 13px 0 4px 0;
}
.primary span,.primary-dark span, .primary-light span{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #6B7176;
}

/* Tabs Section Starts */
#tabs-section{
    max-width: 1440px;
    margin: 0 auto;
}
.tabs-section-heading{
    margin: 32px 0;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #152536;
}
.tabs-section-nav{
    float: none;
    margin-top: 24px;
}

.tabs-section-anchor{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #7749F8;
    padding: 9px 26px 9px 26px;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    text-decoration: none;
    width: 621px;
    
}
.tabs-section-paragraph{
    margin-top: 17px;
    width: 611px;
    height: 168px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #68717A;
}

#buttons-section{
    max-width: 1440px;
    margin: 0 auto;
}
.buttons-section-heading{
    margin: 32px 0;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #152536;
}
#buttons-section p{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #152536;
    margin: 54px 0 16px 0;
}
#buttons-section table{
    margin-top: 17px;
}
.table-para{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6B7176;

}
.btn-primary{
    background: #7749F8;
    color: white;
    padding: 10px 16px;
    border-radius: 4px;
    
}
.btn-primary-outline{
    color: white;
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid #7749F8;
    color: #7749F8;
}
.btn-primary-dark{
    background: #5227CC;
    color: white;
    padding: 10px 16px;
    border-radius: 4px;
}
.btn-primary-light{
    background: #7749F8;
    color: white;
    padding: 10px 16px;
    border-radius: 4px;
}
#buttons-section table{
    border-spacing: 30px;
}
#forms-section,#list-group{
    max-width: 1440px;
    margin: 0 auto;
}
.forms-section-heading,.list-group-heading{
    margin: 32px 0;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #152536;
}
.forms-component{
    margin-top: 54px;
}
.form-left-component{
    float: left;
    width: 350px;
    margin-right: 54px;
}
.form-left-component h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #152536;
    margin-bottom: 34px;
}
.components{
    width: 500px;
}
.component-anchor-wrapper{
    width: 350px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 4px 4px 0px 0px;
}
.component-anchor-wrapper a{
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    color: #152536;
    display: block;
    
}
.component-anchor-wrapper a:hover{
    background: #7749F8;
    color: white;
    
}
.form-right-component{
    float: right;
    width: 610px;
}
.form-right-component h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    color: #152536;
    margin-bottom: 16px;
}
.text-input,select,textarea,.success,.error{
    width: 420px;
    padding-top: 9px ;
    padding-bottom: 8px ;
    padding-left: 16px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    margin-bottom: 48px;
    color: #ABB5BE;

}
.table-heading{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #152536;
    text-align: left;
}
.table-data{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #152536;
    text-align: left;
}
.p-success,.p-error{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #152536;
    margin-top: 26px;
    margin-bottom: 8px;
}
.validation{
    margin-top: 94px;
}
.success{
    border: 1px solid #28A745;
}
.error{
    border: 1px solid #DC3545;
}

/* List group */
#list-group h3{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #152536;
    margin-top: 54px;
    margin-bottom: 31px;
}
.list-group-content{
    width: 369;
    height: 405px;
}
.first-content,.second-content,.third-content{
    width: 369px;
    height: 135px;
    padding: 13px 24px 13px 16px;
}
.first-content{
    background: #7749F8;
    color: white;
}
.second-content, .third-content{
    background: #FFFFFF;;
    border: 1px solid #DEE2E6;
}

.item-container{
    margin-bottom: 16px;
}
.item-container .left{
    float: left;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #152536;
}
.first-content .item-container .left{
    color: #FFFFFF;

}
.item-container .right{
    float: right;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #152536;
}
.first-content .item-container .right{
    color: #FFFFFF;

}
.item-second{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}
.item-third{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}