*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #f8f9fa;
    width: 100%;
    height: 119px;
}
nav{
    margin: 0 234px 0 250px;
    height: 100%;
    padding: 51px 0;
    text-align: center;
}

/* Left nav portion */
.nav-left{
    float: left;
}
.nav-logo{
    float: left;
    margin-right: 58px;
}
.nav-items{
    float: right;
}
.list-items{
    list-style-type: none;
}
.list-item{
    display: inline;
    padding: 0 24px;
}
.list-items > li > a{
    text-decoration: none;
    color: #6e777f;
}

/* Right Nav portion */
.nav-right{
    float: right;
    margin-top: -20px;
}

.nav-right input[type='text']{
    padding: 15px;
    border: 1px solid #e7eaed;
    border-radius: 5px;
    
}
.nav-btn{
    padding: 15px 20px;
    color: #28a745;
    border: 1px solid#28a745;
    border-radius: 5px;
    
}

/* Color Section  */
#color{
    margin: 0 234px 0 250px;
}
.section-heading{
    margin: 20px 0;
    font-size: 40px;
}

.color-wrapper{
    margin-top: 20px;
    height: 220px;
}
.color-wrapper h2{
    margin-bottom: 20px;
}
h4{
    margin: 4px 0;
    font-size: 18px;
}

.box-container{
    height: 170px;
    margin-right: 34px;
    float: left;
}
.box{
    width: 230px;
    height: 100px;
    border-radius: 5px;
}
.info p{
    margin-top: 5px;
}
.text-color{
    color: #6e777f;
}
.clearfix{
    clear: both;
}

/* Primary Color */
.box-primary{
    background-color: #7749FB;
}

.box-primary-dark{
    background-color: #5227CC;
}

.box-primary-light{
    background-color: #EBE5FC;

}


/* Secondary Color */
.box-secondary{
    background-color: #007DFF;
}

.box-secondary-dark{
    background-color: #54595E;
}

.box-secondary-light{
    background-color: #ABB5BE;
}

/* Status Color */
.box-success{
    background-color: #28A745;
}

.box-danger{
    background-color: #DC3545;
}

.box-warning{
    background-color: #FFC107;
}
.box-info{
    background-color: #17A2BB;
}

/* Gray Color */
.box-gray-600{
    background-color: #6c757d;
}

.box-gray-700{
    background-color: #495057;
}

.box-gray-800{
    background-color: #343a40;
}
.box-gray-900{
    background-color: #212529;
}

/* Typography Section */
#typography{
    margin: 0 234px 0 250px;
}
.container{
    margin-top: 20px;
    height: 410px;
}
.left-container{
    float: left;
    max-width: 550px;
}
.right-container{
    float: right;
    max-width: 550px;
}
.container h2{
    font-size: 25px;
    margin-bottom: 12px;
    line-height: 1.5;
}
.left-container p, .right-container p{
    color: #6e777f;
    margin-bottom: 12px;
    line-height: 1.5;
}
.heading-2{
    font-size: 25px;
    margin-bottom: 12px;
    line-height: 1.5;
}
.para{
    color: #6c757d;
    margin-bottom: 60px;
    line-height: 1.5;
    font-size: 20px;

}
.tab-links{
    margin-bottom: 12px;
}
.tab-content{
    width: 600px;
}
.tab-links a{
    border: 1px solid #6c757d;
    padding: 5px 10px;
    text-decoration: none;
}

/* Buttons Section */
#buttons{
    margin: 0 234px 0 250px;
}
.primary-wrapper{
    margin-top: 40px;
}
th,td{
    padding: 30px;
    font-size: 25px;
    color: #6c757d;
}
.default{
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
}
.btn-color-light{
    background-color: #7749f8;
}
.btn-color-outline{
    color: #7749f8;
    border: 1px solid #7749f8;
}
.btn-color-dark{
    background-color: #5227cc;
}

.btn-secondary-light{
    background-color: #6c757d;

}
.btn-secondary-dark{
    background-color: #54595e;
}
.btn-secondary-outline{
    color:#54595e;
    border: 1px solid #54595e;
}

/* Form Section */
#forms{
    margin: 0 234px 0 250px;
}

.components{
    float: left;
    width: 500px;
    
}
.components-link{
    /* padding: 20px 10px; */
    border: 1px solid black;
}
.components-link a{
    text-decoration: none;
    display: block;
    padding: 20px 10px;
    color: black;
    font-size: 20px;
}
.components-link a:hover{
    background: #7749f8;
}
.fields{
    float: right;
    width: 600px;
}
.field{
    margin-bottom: 20px;
}
.fields label{
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.field-input input[type='text'], .menu,.field-textarea, .success,.error{
    display: block;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
}
.field th, .field td{
    padding: 20px;
    font-size: 18px;
    color: black;
    text-align: left;
}
.success{
    border: 1px solid green;
}
.error{
    border: 1px solid red;
}

/* List Group */
#list-group{
    margin: 0 234px 0 250px;

}
.left-content{
    float: left;
    width: 500px;
}
.right-content{
    float: right;
    width: 500px;
}
.left-content ul  li{
    font-size: 20px;
}
.left-content  ul li:first-child{
    color: white;
}
.left{
    float: left;
}
.right{
    float: right;
}
.list-group{
    background-color: #fff;
    border: 1px solid #6c757d;
    padding: 10px;
    color: black;
}
.list-group:first-child{
    background-color: #7749f8;
    border: 1px solid #6c757d;
    padding: 10px;
    color: white;
}
.first-para-lgroup,.second-para-lgroup{
    margin-bottom: 35px;
    font-size: 20px;
    color: black;
}

.list-group:first-child .first-para-lgroup,.list-group:first-child .second-para-lgroup{
    margin-bottom: 35px;
    font-size: 20px;
    color: white;
}


.content{
    background-color: white;
    color: black;
}
.left-content ul{
    list-style-type: none;
}
.left-content ul li{
    padding: 20px 10px;
    border: 1px solid #6c757d;
}
.left-content ul li:first-child{
    background-color: #7749f8;
    color: white;
}
.heading-4{
    font-size: 40px;
}


/* Tables Starts */
#tables{
    margin: 0 234px 0 250px;

}
.table-container table{
    width: 100%;
}
.table-container th, .table-container td{
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.table-container tr:nth-child(even){
    background-color: #E7E9EB;
}

.prev,
.first,
.second,
.third,
.next{
    border: 1px solid #DEE2E6;
    padding: 12px 14px;
    text-decoration: none;
    border-radius: 4px;
}
.first{
    background-color: #7749F8;
    color: #fff;
}
.second,.third{
    color: #7749F8;
}
.pagination{
    margin: 45px 0;
}

/* Card Section */
#card{
    margin: 0 234px 0 250px;

}
.card-container{
    margin: 10px 0;
    height: 600px;
    
}
.container-one, .container-two,.container-three{
    box-shadow: 0 3px 13px rgba(0,0,0,0.2);
}
.container-one,.container-two,.container-three{
    float: left;
    width: 350px;
    height: 100%;
    margin-right: 27px;
}
.profile{
    width: 100%;
    height: 60px;
    margin: 10px;
    text-align: center;
}
.profile-info,.profile-image{
    float: left;
}
.profile-info {
    padding-left: 30px;
}

.profile-image img, .comment img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.card-image img,.img-container{
    width: 350px;
    height: 350px;
}
.image-container{
    width: 350px;
    height: 250px;
}

.like,.comment,.share{
    float: left;
    padding: 0 25px 0 25px;
}
.comment img{
    float: left;
    padding-right: 10px;
}
.comment input{
    float: right;
    padding: 10px 5px;
}
.img-container img,.image-container{
    width: 100%;
}
.image-container img{
    width: 100%;
}
.text-center{
    text-align: center;
    padding: 25px;
    font-size: 25px;
}

.home{
    background: #27ae60;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
.card-footer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container-three{
    margin-right: 0;
}
.inner-footer .left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}